In [1]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('Data1.csv')

In [5]:
data

   ID cities  Value2  Value3 value 4
0   1  india      50      25     yes
1   2  china      20      30      no
2   3    usa      30      35     yes
3   4  india      10      40      no
4   5  china      50      45     yes
5   6    usa      10      50      no
6   7  india      20      55     yes
7   8  china      30      60      no
8   9    usa      40      65     yes
9  10  india      50      70      no

In [7]:
x = data.iloc[:,:-1].values
y= data.iloc[:,-1].values

In [9]:
x

array([[1, 'india', 50, 25],
       [2, 'china', 20, 30],
       [3, 'usa', 30, 35],
       [4, 'india', 10, 40],
       [5, 'china', 50, 45],
       [6, 'usa', 10, 50],
       [7, 'india', 20, 55],
       [8, 'china', 30, 60],
       [9, 'usa', 40, 65],
       [10, 'india', 50, 70]], dtype=object)

In [11]:
y

array(['yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no'],
      dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le = LabelEncoder()
y = le.fit_transform(y)

In [17]:
y

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0])