In [67]:
import pandas as pd 
import numpy as np

In [69]:
data = pd.read_csv('Data1.csv')

In [71]:
data

   ID cities  Value2  Value3 value 4
0   1  india      50      25     yes
1   2  china      20      30      no
2   3    usa      30      35     yes
3   4  india      10      40      no
4   5  china      50      45     yes
5   6    usa      10      50      no
6   7  india      20      55     yes
7   8  china      30      60      no
8   9    usa      40      65     yes
9  10  india      50      70      no

In [73]:
x = data.iloc[:,:-1].values
y= data.iloc[:,-1].values

In [75]:
x

array([[1, 'india', 50, 25],
       [2, 'china', 20, 30],
       [3, 'usa', 30, 35],
       [4, 'india', 10, 40],
       [5, 'china', 50, 45],
       [6, 'usa', 10, 50],
       [7, 'india', 20, 55],
       [8, 'china', 30, 60],
       [9, 'usa', 40, 65],
       [10, 'india', 50, 70]], dtype=object)

In [77]:
y

array(['yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no'],
      dtype=object)

In [79]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [81]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')

In [83]:
x = np.array(ct.fit_transform(x))

In [85]:
x

array([[0.0, 1.0, 0.0, 1, 50, 25],
       [1.0, 0.0, 0.0, 2, 20, 30],
       [0.0, 0.0, 1.0, 3, 30, 35],
       [0.0, 1.0, 0.0, 4, 10, 40],
       [1.0, 0.0, 0.0, 5, 50, 45],
       [0.0, 0.0, 1.0, 6, 10, 50],
       [0.0, 1.0, 0.0, 7, 20, 55],
       [1.0, 0.0, 0.0, 8, 30, 60],
       [0.0, 0.0, 1.0, 9, 40, 65],
       [0.0, 1.0, 0.0, 10, 50, 70]], dtype=object)